body{
    margin: 0;
    padding: 0;
    font-family:'Inter','Inter', Arial, sans-serif;
}

/* Estilos de menú de navegación */

header{
    position: fixed;
    top:0;
    z-index: 1000;
    display: flex;
    width: 100%;
    height: 79px;
    box-sizing: border-box;
    background-color: #2f445f;
    color: white;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    border-bottom: 1px solid #ff6764;
    overflow: hidden;
}

header div {
    height: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

header div h5 a{
    font-size: 20px;
    margin: 0 0 0 4px;
    font-size: 20px;
}

header .logo{
    width: 55px ;
    height: 52px;
    margin: 0 5px 0 0;
}

header nav { 
    height: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

header a{
    color: white;
    text-decoration: none;
}

header li { 
    display: inline;
    list-style-type: none;
}

.navSections li {
    box-sizing: border-box;
    padding: 7.5px 15px;
    font-size: .94rem;
    font-weight: 500;
    letter-spacing: 0.5px;
    line-height: 15px;
}

.navSections a {
    padding: 0 0 3px 0;
    border: 0 0 3px 0;

}

.navSections a:hover {
    border-bottom: solid #ff6764;
}

.navSections a:target {
    border-bottom: solid #ff6764;
}

.navIcons {
    margin: 0;
    padding: 0;
}

.navIcons li svg { 
    width: 15px;
    height: 15px;
    padding: 0 7px;
}

.navIcons li svg:hover { 
    fill: #ff6764;
}

main{
    padding-top: 79px;
}

/* Estilos de Sección 1 (Home) */

.homeSection {
    box-sizing: border-box;
    display: flex;
    background-color: #2f445f ;
    height: 91.5vh;
    width: 100%;
    padding: none;
    margin: none;
    color: white;
    overflow: hidden;
}

.homeContent { 
    height: 100%;
    box-sizing: border-box;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.homeContent .homeDescription {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    background-color: #2f445f;
    width: 70%;
}

.homeContent .homeDescription h1{
    font-size: 2.55rem;
    font-weight: 700;
    margin: 0;
}

.homeContent .homeLine { 
    border-top-color: rgb(255, 103, 100);
    border-top-style: solid;
    border-top-width: 6px;
    box-sizing: border-box;
    content: "";
    font-size: 16.5px;
    margin: 30px 0;
    height: 6px;
    line-height: 24.75px;
    width: 100px;
    }

 .homeContent .homeDescription p { 
    font-size: 26px;
    font-weight: 500;
    margin-top: 0;
}

.homeContent .homeDescription .homeButton {
    display: flex;
    width: 50%;
    box-sizing: border-box;
    background-color: #ff6764;
    justify-content: center;
    align-items: center;
    padding: 4% 0;
}

.homeDescription .homeButton a {
    color: white;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

.homeDescription .homeButton svg {
    width: 16.5px;
    height: 16.5px;
    padding: none;
    margin: none;
}

.homeDescription .homeButton span {
   font-size: 16.5px;
   font-weight: 400;
   margin: 0;
}

.homeImg {
    flex: 2;
    background-image: url(Images/casaS1.webp);
    overflow: hidden;
    background-size: cover;   /* Ajusta la imagen para cubrir todo el contenedor */
    background-position: center;  /* Centra la imagen en el contenedor */
    background-repeat: no-repeat; 
    width: auto;
    height: auto;
}

/* Estilos de Sección 2 (About Us) */

.aboutSection {
    box-sizing: border-box;
    background-color: white;
    height: 640px;
    padding: 100px 0;
    display: flex ;
    justify-content: center;
}

.aboutContent { 
    width: 1290px;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    margin: 0 7%;
}
.aboutSection .aboutDescription { 
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    height: 440px;
   justify-content: center;
}

.aboutSection .aboutDescription h2 { 
    font-size: 3.25rem;
    font-weight: 700;
    overflow-wrap: break-word;
    padding: 0;
    margin: 0;
}

.aboutSection .aboutDescription p { 
    font-size: 1.25rem;
    overflow-wrap: break-word;
    line-height: 25px;
    padding: 0;
    margin: 0;
    margin-bottom: -5px;
}

.aboutLine { 
border-top-color: rgb(255, 103, 100);
border-top-style: solid;
border-top-width: 6px;
box-sizing: border-box;
content: "";
font-size: 16.5px;
margin: 30px 0;
height: 6px;
line-height: 24.75px;
width: 100px;
}

.aboutSection .aboutImg { 
    box-sizing: border-box;
    height: 440px;
    width: auto;
    overflow: hidden;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
}

.aboutSection .aboutImg img { 
    width: 100%;
    height: 100%;
    object-fit: cover; 
    object-position: center; 
}


/* Estilos de Sección 3 (What We Do) */

.whatSection { 
    box-sizing: border-box;
    width: 100%;
    height: 76vh;
    display: flex;
}

.whatImg {
    flex: 1;
    background-image: url(Images/whatWeDo.webp);
    overflow: hidden;
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
}

.whatContent { 
    box-sizing: border-box;
    flex: 1;
    background-color:#2f445f;
    color: white;

    display: flex;
    align-items: center;
}

.whatContent .whatDescription {
    box-sizing: border-box; 
    padding: 15%;
    margin: 0;
}

.whatContent .whatDescription h2{
    font-size: 52px;
    margin: 0;
    padding: 0;
}

.whatLine { 
    border-top-color: rgb(255, 103, 100);
    border-top-style: solid;
    border-top-width: 6px;
    box-sizing: border-box;
    content: "";
    font-size: 16.5px;
    margin: 30px 0;
    height: 6px;
    line-height: 24.75px;
    width: 100px;
    }

.whatContent .whatDescription p{
    font-size: 1.25rem;
    overflow-wrap: break-word;
    line-height: 25px;
    padding: 0;
    margin: 0;
    margin-bottom: -5px;
}

/* Estilos de Sección 4 (Services) */

.servicesSection { 
    width: 100%;
    height: 1000px;
    background-color: rgb(255, 255, 255);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.servicesSection h2 {
    letter-spacing: 0.5px;
    font-size: 2em;
    margin: 7rem 0 0 0;
    padding: 0;
    font-weight: 500;
}

.divisor {
        border-top-color: rgb(255, 103, 100);
        border-top-style: solid;
        border-top-width: 6px;
        box-sizing: border-box;
        content: "";
        font-size: 16.5px;
        margin: 2.5rem 0;
        height: 6px;
        line-height: 24.75px;
        width: 100px;
}

.servicesSection .servicesContent {
    overflow: hidden;
    box-sizing: border-box;
    padding: 0 15px;
    width: 1250px;
    height: 60%;
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 0 1rem;
}

.servicesContent .fr1 {
    box-sizing: border-box;
    order: 1;
    background-image: url(Images/Servicios\ 1.webp);
    overflow: hidden;
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    padding: 32px ;
}

.servicesContent .fr2 {
    overflow: hidden;
    box-sizing: border-box;
    order: 4;
    background-color: #ebedf0;
    padding: 32px ;
    display: flex;
    align-items: center;
}

.servicesContent .fr2 div {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: 0;
    padding: 0;
}

.servicesContent div h4 {
    font-size: 1.25em;
    line-height: 1.1;
    font-weight: 700;
}

.servicesContent div p {
    font-size: 16.5px !important;
    opacity: 0.8;
    color: #444950;
    text-overflow: ellipsis;
    line-height: 17.5px;
    text-size-adjust: 100%;
    line-height: 17.5px;
}

.servicesContent .fr3 {
    overflow: hidden;
    box-sizing: border-box;
    order: 2;
    background-color: #ebedf0;
    padding: 32px ;
    display: flex;
    align-items: center;
}

.servicesContent .fr3 div {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: 0;
    padding: 0;
}

.servicesContent .fr4 {
    overflow: hidden;
    box-sizing: border-box;
    order: 5;
    background-image: url(Images/Servicios\ 2.webp);
    overflow: hidden;
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    padding: 32px ;
}

.servicesContent .fr5 {
    overflow: hidden;
    box-sizing: border-box;
    order: 3;
    background-image: url(Images/Servicios\ 3.webp);
    overflow: hidden;
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    padding: 32px ;
    
}

.servicesContent .fr6 {
    overflow: hidden;
    box-sizing: border-box;
    order: 6;
    background-color: #ebedf0;
    padding: 32px ;
    display: flex;
    align-items: center;
}
.servicesContent .fr6 div {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: 0;
    padding: 0;
}


/* Estilos de Sección 4 (Services) */












img{
    width: 100px;
}